In [9]:
import os
import pandas as pd

In [10]:
print(os.getcwd())

/home/michael/Attendance/Class-details

In [95]:
df = pd.read_csv('class-3b.csv')

In [86]:
absentees = list(map(str,input('Enter absentees roll numbers with a comma').split(',')))
print(absentees)

Enter absentees roll numbers with a comma549,550
['549', '550']

In [87]:
df.head()

,S. No.,Name of the Student,Roll Number,Attendance
0,1,ALETI KALYANI,18R11A0549,NaN
1,2,ARENDRA SAI KRUPA CHARY,18R11A0550,NaN
2,3,BALRAMGARI SREENIDHI,18R11A0551,NaN
3,4,BANALA KEERTHANA,18R11A0552,NaN
4,5,BATHINA SIRISHA,18R11A0553,NaN

In [88]:
import re

In [92]:
end_nos = []
for i in df['Roll Number']:
    for j in absentees:
        if re.search(j,i):
            print('true')
print(absentees)

true
true
['549', '550']

In [82]:
df.loc[df['S. No.'] == 1]

   S. No.                   Name of the Student         Roll Number Attendance
0       1  ALETI KALYANI                         18R11A0549                  A

In [56]:
df['Roll Number']

KeyError: 'Attendance'

In [54]:
df.head()

   S. No.                   Name of the Student         Roll Number Attendance
0       1  ALETI KALYANI                         18R11A0549                  A
1       2  ARENDRA SAI KRUPA CHARY               18R11A0550                  A
2       3  BALRAMGARI SREENIDHI                  18R11A0551                  A
3       4  BANALA KEERTHANA                      18R11A0552                  A
4       5  BATHINA SIRISHA                       18R11A0553                  A

In [38]:
print(end_nos)

['549        ', '550        ', '551        ', '552        ', '553        ', '554        ', '555        ', '556        ', '557        ', '558        ', '559        ', '560        ', '561        ', '562        ', '563        ', '564        ', '565        ', '566        ', '567        ', '569        ', '570        ', '571        ', '572        ', '573        ', '574        ', '575        ', '576        ', '577        ', '578        ', '579        ', '580        ', '581        ', '582        ', '583        ', '584        ', '585        ', '586        ', '587        ', '588        ', '589        ', '590        ', '591        ', '592        ', '593        ', '594        ', '595        ', '596        ', '506        ', '507        ', '508        ', '509        ', '510        ', '5F1', '5N4']